/**
 * TABS
 *
 * -------------------------------------------------------------------------------------------------
 */

.tabs UL {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}


.tabs UL > LI {
  display: inline-block;
  zoom: 1;
}

.tabs UL > LI A {
  color: #333;
  font-size: 13px;
  text-shadow: 0 1px 0 #fff;
  padding: 4px 10px;
}

.tabs > DIV {
  display: none;
  border-top: 1px solid #E5E5E5;
  padding-top: 20px;
}

.active {
  background: #F5F5F5;
}

.active A {
  display: block;
}